@mixin container($width) {
    width: 100%;
    max-width: $width;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
@mixin site-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $text-color;
}
@mixin small-title {
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.4;
    letter-spacing: 0.48px;
}


@mixin responsive($breakpoint) {
    @if($breakpoint == m-phone) {
        @media only screen and (max-width: 440px) { @content }
    };
    @if($breakpoint == phone) {
        @media only screen and (max-width: 576px) { @content }
    };
    @if($breakpoint == tables) {
        @media only screen and (max-width: 768px) { @content }
    };
    @if($breakpoint == middle-table) {
        @media only screen and (max-width: 885px) { @content }
    };
    @if($breakpoint == big-tables) {
        @media only screen and (max-width: 993px) { @content }
    };
    @if($breakpoint == desktop) {
        @media only screen and (max-width: 1210px) { @content }
    };
}